/* 机票6 */
.gkl_top{
	padding-top: 20px;
	width: 100%;
	overflow: hidden;
	color: #fff;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
}
.gkl_top .outer1{
	background: url(../img/gklfjp5/add1.jpg) 0 -32px repeat-x;
	height: 32px;
}
.gkl_top .left1{
	background: url(../img/gklfjp5/add1.jpg) 0 0 no-repeat;
	height: 32px;
}
.gkl_top .right1{
	background: url(../img/gklfjp5/add1.jpg) right -64px no-repeat;
	height: 32px;
}
.gkl_top .outer2{
	background: url(../img/gklfjp5/add2.jpg) 0 -32px repeat-x;
	height: 32px;
}
.gkl_top .left2{
	background: url(../img/gklfjp5/add2.jpg) 0 0 no-repeat;
	height: 32px;
}
.gkl_top .right2{
	background: url(../img/gklfjp5/add2.jpg) right -64px no-repeat;
	height: 32px;
}
.gkl_top .box1{
	width: 25%;
	height: 52px;
	float: left;
}
.gkl_top .box2{
	width: 10%;
	height: 52px;
	float: left;
	position: relative;
}
.gkl_top .box3{
	width: 35%;
	height: 52px;
	float: right;
}
.gkl_top .border1{
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background:#fff;
	text-align: center;
	line-height: 21px;
	color: #ffa000;
	position: absolute;
	left: 21%;
	top:12%;
}


.content{
	width: 1000px;
	height: 520px;
	border: 2px solid #A6A6A6;
	margin: 0 auto 30px;
}
.content_top{
	padding: 15px 15px 0 15px;
	
	
}
.content_top_kuang{
	overflow: hidden;
	border-bottom: 1px dashed #6e6e6e;
	padding-bottom: 15px;
}
.duihao{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: #1fb257;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	color: #fff;
	margin: 6px 15px 0 5px;
}
.content_top_right,.duihao{
	float: left;
}
.content_top_right{
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	color: #414141;
}
.content_bottom{
	padding: 15px 15px;
	overflow: hidden;
}
.content_bottom_left,.content_bottom_right{
	float: left;
}
.content_bottom_left{
	width: 550px;
	/* border: 1px solid red; */
}
.content_bottom_right{
	width: 390px;
	border: 2px solid #A6A6A6;
}
.content_bottom_left_top h4,.content_bottom_left_top h5{
	font-size: 14px;
	text-align: center;
	color: #515151;
}
.content_left_middle{
	overflow: hidden;
	padding: 15px 0 ;
}
.content_bottom_left_middle_left,.content_bottom_left_middle_right{
	float: left;
	color: #FAFCFF;
	background-color: #5AB4F5;
	width: 110px;
	height: 25px;
	border-radius: 5px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
}
.content_bottom_left_middle_left{
	margin: 0  25px 0 152.5px;
}
.content_bottom_left_top p{
	color: #6F6F6F;
}
.content_bottom_left_top{
	padding: 5px 0 15px 0;
	border-bottom:1px solid #939393;
}
.content_bottom_left_bottom{
	padding-top: 15px;
}
.content_bottom_left_bottom p{
	line-height: 22px;
	color: #6F6F6F;
}
.content_bottom_right{
	margin-left: 20px;
}
.content_bottom_right_top{
	background-color: #D2D2D2;
	color: #3F3F3F;
	font-size: 16px;
	font-weight: bold;
	height: 38px;
	line-height: 38px;
	padding-left: 20px;
}
.content_bottom_right_middlebottom{
	padding: 25px 20px 15px 20px;
}
.content_bottom_right_middle{
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px dashed #888888;
}
.content_bottom_right_middle_left img{
	display: block;
}
.content_bottom_right_middle_left,.content_bottom_right_middle_right{
	float: left;
}
.content_bottom_right_middle_right{
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #424242;
}
.content_bottom_right_middle_right .p1{
	padding:  30px 0 0 35px ;
}
.content_bottom_right_middle_right .p2{
	padding-left: 45px;
}
.content_bottom_right_bottom_top{
	overflow: hidden;
	font-size: 14px;
}
.content_bottom_right_bottom_top1,.content_bottom_right_bottom_top2,.content_bottom_right_bottom_top3{
	float: left;
	font-weight: bold;
	padding: 15px 0 15px 0;
	color: #3C3C3C;
}
.content_bottom_right_bottom_top2{
	padding: 15px 13px 15px 13px;
}
.content_bottom_right_bottom_top4,.content_bottom_right_bottom_top5,.content_bottom_right_bottom_top6{
	float: left;
	padding: 0 0 15px 0 ;
	color: #4C4C4C;
}
.content_bottom_right_bottom_top5{
	padding: 0 13px 0 13px;
}
.content_bottom_right_bottom h4{
	font-size: 14px;
	padding-bottom: 15px;
	color: #444444;
}
.content_bottom_right_bottom h3{
	font-size: 18px;
	color: #CC0000;
	padding:0 0 7px 10px;
}
.content_bottom_right_bottom p{
	color: #8D8D8D;
}


.zsycon{
	height: 600px;
}
.zsytop span{
	padding: 0 5px;
}
.zsytop{
	width: 1000px;
	margin: 15px auto;
	color: #646464;
	/* border: 1px solid red; */
}
.zsyconter_1{
	width: 960px;
	height: 510px;
	padding: 10px 20px;
	margin: 0 auto;
	border: 1px solid #BEBEBE;
	overflow: hidden;
	
}
.zsyconter_1_top{
	overflow: hidden;
}
.zsyconter_1_top_left,.zsyconter_1_top_right{
	float: left;
}
.zsyconter_1_top_left1,.zsyconter_1_top_left2,.zsyconter_1_top_left3{
	overflow: hidden;
	width: 540px;
}
.zsyconter_1_top_left1,.zsyconter_1_top_left2{
	border-bottom: 1px dashed #9E9E9E;
}
.zsyconter_1_top_left3{
	/* padding-bottom: 10px; */
	/* border-bottom: 1px solid #888888; */
}
.shiupingxian{
	border-bottom: 1px solid #888888;
}
.zsyconter_1_top_leftleft,.zsyconter_1_top_leftcenter,.zsyconter_1_top_leftright{
	float: left;
}
.zsyconter_1_top_leftleft{
	font-weight: bold;
	font-size: 16px;
	width: 82px;
	text-align: right;
	padding: 10px 30px 10px 0;
	color: #454545;

}
.zsyconter_1_top_leftcenter{
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	color: #656565;
}
.zsyconter_1_top_leftright{
	padding-left: 60px;
	line-height: 38px;
	font-size: 14px;
	font-weight: bold;
	color: #656565;
}
.zsyconter_1_top_right_xinzeng{
	/* border: 1px solid red; */
	width: 400px;
}
.zsyconter_1_top_right_xinzeng h4{
	width: 137px;
	height: 36px;
	background-color: #FFA000;
	border-radius: 10px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
	color: #FFFDFA;
	margin: 44.5px auto;
	cursor: pointer;
}
.zsyconter_1_bottom{
	overflow: hidden;
}
.zsyconter_1_bottom_left,.zsyconter_1_bottom_right{
	float: left;
}
.zsyconter_1_bottom_left{
	width: 540px;
	padding: 25px 0  5px 0px;
}
.zsyconter_1_bottom_left h4{
	font-size: 16px;
	padding-bottom: 10px;
	color: #454545;
}
ul{
	border-bottom: 1px solid #BDBDBD;
}
.li1,.li2,.li3,.li4,.li5{
	padding: 10px 0px;
	font-size: 14px;
	font-weight: bold;
}
.li1,.li2,.li3,.li4,.li5{
	color: #585858;
}
.li1 span{
	padding-left: 15px;
}
.li2 span{
	padding: 0 15px;
}
.li3 span,.li4 span{
	padding: 0 35px;
}
.li5 span{
	padding: 0 25px;
}

.zsyconter_1_bottom_left p{
	font-size: 14px;
	padding: 20px 0 0 20px;
	font-weight: bold;
	color: #505050;
}
.zsyconter_1_bottom_right{
	width: 385px;
	height: 315px;
	border: 2px solid #3C3C3C;
	margin: 40px 0px 20px 28px;
}
.zsyconter_1_bottom_right_1{
	height: 37px;
	background-color: #D2D2D2;
}
.zsyconter_1_bottom_right_1 h4{
	font-size: 16px;
	color: #3F3F3F;
	padding: 10px 0 0 20px;

}
.zsyconter_1_bottom_right23{
	/* border: 1px solid red; */
	margin: 25px 20px;
}
.zsyconter_1_bottom_right2{
	overflow: hidden;
	padding-bottom: 20px;
	border-bottom: 1px dashed #747474;
}
.zsyconter_1_bottom_right2left,.zsyconter_1_bottom_right2right{
	float: left;
}
.zsyconter_1_bottom_right2left img{
	display: block;
}
.qucheng,.beijing{
	font-size: 14px;
	font-weight: bold;
	color: #3C3C3C;
}
.qucheng{
	padding: 40px 0 0 35px;
}
.beijing{
	padding: 12px 0 0 45px;
}
.zsyconter_1_bottom_right3 p{
	font-size: 14px;
	font-weight: bold;
	padding: 20px 0 5px 20px;
	color: #3C3C3C;
}


/* 机票4 */
.con{
	height: 555px;
	margin-top: 20px;
}
.con1{	
	height: 32px;
	width: 100%;
	background-color: #d2d2d2;
}
.con1 img{
	width: 1002px;
	height: 32px;
	margin: 0 auto;
}
img{
	display: block;
}
.con2{
	width: 1002px;
	margin: 20px auto 30px;
}
.float{
	float: left;
}
.overflow{
	overflow: hidden;
}
.con_left{
	width: 520px;
	border: 1px solid #000;
	padding: 20px 22px;
	margin-right: 30px;
}

.con_left1{
	padding-bottom: 20px;
}
.con_left1 em{
	font-size: 16px;
	font-weight: bold;
	padding-right: 35px;
}
.con_left2,.con_left3{
	padding:  20px 0;
	border-top: 1px dashed  #6e6e6e;
	border-bottom: 1px solid  #6e6e6e;
	line-height: 20px;
	overflow: hidden;
}
.con_left2 em,.con_left3 em{
	font-weight: bold;
	float: left;
	padding-right: 35px;
	margin-left: 20px;
}
.con_left2 div,.con_left3 div{
	float: left;
	word-spacing: 2em;
}
.con_left2 div span,.con_left3 div span{
	word-spacing: 8px;
}
.con_left3 div var{
	word-spacing: 3px;
}
.con_left3{
	border-top: none;
}
.con_left3 em{
	padding-right: 35px;
	margin-left:8px;
}
.con_left4{
	overflow: hidden;
	margin-top: 20px;
}
.con_left4 img{
	float: right;
	margin: 11px 0 6px 0;
}
.con_left4 span{
	float: right;
	width: 136px;
	height: 36px;
	line-height: 36px;
	background: #ffa000;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	font-size: 16px;
}
.con_left4 em{
	float: right;
	color: #ffa000;
	margin: 11px 29px 6px 11px;
}
.conright{
	width: 404px;
	height: 471px;
	border: 1px solid #3c3c3c;
}
.conright-head1{
	width: 406px;
	height: 54px;
	line-height: 54px;
}
.conright-head1 span{	
	color: #6e6e6e;
	margin-left: 20px;	
	font-weight: bolder;
}
.conright-head2{
	border: 1px solid #3c3c3c;
	width: 367px;
	height: 156px;
	margin: 0 auto;
}
.conright-head2-1{
	width: 367px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}
.conright-head2-1 span{
	color: #6e6e6e;
	margin-left: 20px;
	font-weight: bolder;
}
.conright-head2-1 img{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.conright-head2-2{
	width: 367px;
	height: 18px;
}
.conright-head2-2 span{
	font-size: 14px;
	color: #3c3c3c;
	margin-left: 14px;
	font-weight: bolder;
}
.conright-head2-3{
	width: 367px;
	height: 54px;
	overflow: hidden;
	margin-top: 22px;
	line-height: 18px;
}
.conright-head2-3 span{
	color: #3c3c3c;
	font-weight: bolder;	
}
.conright-head2-3-left{
	width: 103px;
	height: 54px;
	float: left;
	margin-left: 34px;
}
.conright-head2-3-center{
	width: 66px;
	height: 54px;
	float: left;
	margin-left: 23px;
}
.conright-head2-3-right{
	width: 100px;
	height: 54px;
	float: left;
	margin-left: 22px;
}
.conright-head2-3-left span{
	float: right;
}
.conright-head3{
	border-bottom: 1px solid #6e6e6e;
	width: 367px;
	height: 88px;
	margin: 0 auto;
	overflow: hidden;
}
.conright-head3 span{
	font-size: 14px;
	color: #3c3c3c;
	margin-top: 20px;
	font-weight: bolder;
	float: left;	
}
.conright-head3 var{
	border-bottom: 1px solid #c5c5c5;
	color: #3c3c3c;
	margin-left: 35px;
	margin-right: 5px;
	margin-top: 54px;
	font-weight: bolder;
	float: right;
}
.conright-head4{
	width: 367px;
	height: 82px;
	margin: 0 auto;
	overflow: hidden;
}
.conright-head4 span{
	font-size: 16px;
	color: #3c3c3c;
	float: left;
	font-weight: bolder;
	margin-top: 34px;
}
.conright-head4  div{
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 24px;
	line-height: 20px;
}
.conright-head4 var{
	font-size: 18px;
	color: #cc0000;
	float: right;
	margin-right: 16px;
	font-weight: bolder;
}
.conright-head4 em{
	float: right;
	color: #6e6e6e;
	font-weight: bolder;
}
.conright-head5{
	width: 367px;
	height: 78px;
	margin: 0 auto;
}
.conright-head5 div{
	width: 367px;
	height: 26px;
}
.conright-head5 span{
	margin-left: 1px;
	color: #626262;
	font-weight: bolder;
}
